django==5.2
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
django-filter==25.1
redis==5.2.1
pillow==11.2.1
pandas==2.2.3
openpyxl==3.1.5
celery==3.3.1
django-celery-beat==2.8.0

